name: Weekly Scrape and Compare

permissions: write-all

on:
  schedule:
    # - cron: "0 8 * * 1" # Runs every Monday at 08:00 UTC
    - cron: "0 * * * *"
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.22.3"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build Docker image
        run: |
          docker build -t my-scraper-app .

      - name: Run Scraper
        run: |
          sudo apt-get install -y jq
          docker run --rm my-scraper-app --mode slow --timeout 60 | jq 'sort_by(.Numeric)' > countries_new.json

      - name: Check if countries_new.json differs from countries.json
        id: check_diff
        run: |
          if cmp -s countries.json countries_new.json; then
            echo "::set-output name=files_differs::false"
          else
            echo "files differ"
            echo "::set-output name=files_differs::true"
          fi

      - name: Replace countries.json with countries_new.json
        run: |
          mv countries_new.json countries.json
        if: steps.check_diff.outputs.files_differs == 'true'

      - name: Commit changes if countries.json differs
        id: commit_changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: noreply@github.com
          message: "Update countries.json"
          new_branch: update-countries-json
          add: 'countries.json'
        if: steps.check_diff.outputs.files_differs == 'true'

      - name: Create Pull Request
        uses: devops-infra/action-pull-request@v0.5.5
        with:
          github_token: ${{ secrets.GH_PAT }}
          source_branch: update-countries-json
          target_branch: main
          title: Updating list of countries
          body: "This pull request was automatically created from github actions"
          assignee: detrin
          label: updating
          ignore_users: "restyled"
        if: steps.check_diff.outputs.files_differs == 'true'
